/* Start Footer */
#footer-box {
  ;
  height: auto;
  max-width: 600px;
  min-width: 300px;
  width: 350px;
  min-width: 300px;
  border: solid;
  border-color: #027177;
  border-width: 3px;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  overflow: none;
}

#footer {
  margin-top: 100px;
}

#footerMain {
  background: #E2E7F3;
  border-top: solid;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

#feature-section {
  margin-top: 0px;
}

#footerTitle {
  color: #027177;
  font-size: calc(18px + .5vw);
  font-family: Gilroy, sans-serif;
  font-weight: 600;
  z-index: 99999999;
  margin-top: 10px;
}

#footerBody {
  color: #000;
  max-width: 600px;
  font-size: 16px;
  font-family: Avenir_Next_Light, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 5px;
}

#copyright {
  color: #000;
  max-width: 600px;
  font-size: 16px;
  font-family: Avenir_Next_Light, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 500;
}
